@{
    ViewData["Title"] = "Home Page";
}

@*Creates the carousel for the main page*@
<div id="mainPageCarousel" class="carousel slide" data-bs-ride="carousel">

    @*Provides function to the buttons*@
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#mainPageCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#mainPageCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#mainPageCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    @*First page of the carousel*@
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/vyeboombg.jpg" class="d-block w-100" alt="Slide 1 Image" />
            <div class="carousel-caption d-none d-md-block">
                <h5>Welcome to the Municipality App</h5>
                <p>Report Issues, check status of reports and find out about local events</p>
                <a href="@Url.Action("ReportIssue", "Home")" class="btn btn-primary mt-auto">Report Issue</a>
            </div>
        </div>

        @*Second page of the carousel*@
        <div class="carousel-item">
            <img src="/images/working.jpg" class="d-block w-100" alt="Slide 2 Image" />
                <div class="carousel-caption d-none d-md-block">
                        <h5>View Issues</h5>
                        <p>Check the status of reported issues and feature requests from the community.</p>
                        <a href="@Url.Action("AllIssues", "Home")" class="btn btn-success mt-auto">View Issues</a>
                </div>
        </div>

        @*Third page of the carousel*@
        <div class="carousel-item">
            <img src="/images/vyeboombg2.jpg" class="d-block w-100" alt="Slide 2 Image" />
                <div class="carousel-caption d-none d-md-block">
                        <h5>Get local news</h5>
                        <p>Stay updated with the latest local news and events.</p>
                        <p>Feature is a work in progress!!!!</p>
                        <a href="#" class="btn btn-secondary mt-auto">Learn More</a>
                </div>
        </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#mainPageCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#mainPageCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
  
</div>

